@media (max-width: 1170px) {
	.logo {
		width: calc(200px + (269 - 200) * ((100vw - 320px) / (1170 - 320)));
	}

	.main-block__text {
		font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1170 - 320)));
	}

	.main-block__title {
		font-size: calc(35px + (64 - 35) * ((100vw - 320px) / (1170 - 320)));
	}

	.menu-block__text {
		font-size: calc(11px + (18 - 11) * ((100vw - 320px) / (1170 - 320)));
	}

	.slider__title {
		font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1170 - 320)));
	}

	.slider__text-name {
		font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1170 - 320)));
	}

	.description__title {
		font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1170 - 320)));
	}

	.gallery::after {
		height: calc(360px + (605 - 360) * ((100vw - 320px) / (1170 - 320)));
	}

	.mySwiper2 .swiper-slide {
		margin-top: calc(40px + (60 - 40) * ((100vw - 320px) / (1170 - 320)));
	}

	.title {
		font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1170 - 320)));
	}

	.contacts__text_2 {
		font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1170 - 320)));
	}

}

/* --------------- */

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 1180px) {
	.menu-block__images {
		display: none;
	}

	.menu-block__content {
		flex: 1 1 100%;
		padding: 0px 15px 0px 15px;
	}

	.menu-block__info {
		margin: 0 auto 30px auto;
	}

	.menu-block {
		padding-bottom: 80px;
	}
}

@media (max-width: 995px) {

	/* --menu-- */
	body._lock {
		overflow: hidden;

	}

	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		background-color: #3A4574;
		padding: 180px 0px 20px 0px;
		overflow: auto;
		transition: top 0.3s ease 0s;
		top: -100%;
	}

	.menu__body._active {
		top: 0;
	}

	.menu__list {
		flex-direction: column;
		align-items: start;
		padding-left: 40px;
	}

	.menu__list li {
		padding: 0px 0px 35px 0px;
	}

	.menu__list li:last-child {
		padding: 0px;
	}

	.menu__link {
		color: #fff;
		font-size: 20px;
	}

	.header {
		top: 15px;
	}

	.icon__menu {
		display: block;
		position: absolute;
		top: 33px;
		right: 15px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}

	.icon__menu span,
	.icon__menu span::after,
	.icon__menu span::before {
		top: 0px;
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
	}

	.icon__menu span::after {
		content: "";
		top: -10px;
	}

	.icon__menu span::before {
		content: "";
		top: 10px;
	}

	.icon__menu._active span {
		background-color: transparent;
	}

	.icon__menu._active span::before {
		top: 0;
		transform: rotate(45deg);
		background-color: #fff;
	}

	.icon__menu._active span::after {
		top: 0;
		transform: rotate(-45deg);
		background-color: #fff;
	}

	.header__container {
		min-height: 70px;
	}

	.header__phone {
		margin-right: 50px;
	}

	.description__row {
		flex-direction: column;
		text-align: center;
	}

	.description__text {
		margin-bottom: 30px;
		padding: 0px 15px 0px 15px;
	}

	.description__title::after {
		left: calc(50% - 54px);
	}

	.description__row_2 .description__image {
		order: 2;
		margin-right: 0px;
	}

	.description__row_2 .description__info {
		order: 1;
	}

	.description__image img {
		width: 100%;
	}

	.description__info:nth-child(1),
	.description__info:nth-child(3) {
		margin-right: 0px;
	}

	.description__info {
		padding-top: 0px;
	}

	.description {
		padding: 80px 0px 0px 0px;
	}

	.description__row:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 934px) {
	.contacts__content {
		flex-direction: column;
	}

	.contacts {
		padding-top: 80px;
	}

}

@media (max-width: 920px) {

	.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none;
	}

	.swiper-pagination {
		display: block;
	}

	.swiper-slide {
		padding: 80px 0px 80px 0px;
	}
}

@media (max-width: 850px) {
	.modal-content {
		width: 90%;
	}
}


@media (max-width: 595px) {
	.main-block__connect {
		flex-direction: column;
		align-items: center;
	}

	.main-block__button {
		margin-bottom: 40px;
	}
}

@media (max-width: 550px) {
	.modal-content {
		padding: 60px 0px 60px 0px;
		width: 90%;
	}

	.footer__content {
		flex-direction: column;
		align-items: center;
	}

	.footer__logo {
		margin-bottom: 20px;
	}
}

@media (max-width: 520px) {
	.header__container {
		flex-direction: column;
		align-items: center;
		padding-top: 10px;
	}

	.header__phone {
		margin-right: 0px !important;
		margin-top: 20px;
	}

	.form__button {
		width: 100%;
	}
}

@media (max-width: 479px) {

	.main-block__body {
		padding: 200px 0px 80px 0px;
	}
}